@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Foreground-Color: #00e0e4;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #01000e;
  color: white;
  font-family: "Roboto";
}
::selection {
  background-color: var(--Foreground-Color);
  color: white; /* biały */
}
span {
  color: var(--Foreground-Color);
  text-shadow: 0 0 1px #00e0e483, 0 0 10px #98bfff, 0 0 60px #00e0e483;
}

#ping-dot {
  width: 14px;
  height: 14px;
  background-color: #00a800;
  border-radius: 50%;
  position: relative;
}

#ping-dot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00a800;
  opacity: 0.5;
  animation: ping 1.5s infinite;
}

@keyframes ping {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.8);
    opacity: 0;
  }
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
}
.AboutMainText {
  text-shadow: 0 0 1px #00e0e483, 0 0 10px #98bfff, 0 0 60px #00e0e483;
}
.social-Icon {
  position: relative; /* Ustawiamy relative na ikonie, by `::after` było pozycjonowane względem niej */
}

.social-Icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  background-color: var(--Foreground-Color);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.15s ease-in-out;
  z-index: -1;
}

.social-Icon:hover::after {
  transform: scale(1);
  transform: translate(-50%, -50%);
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translate(-20%, -45%);
  }
  25% {
    transform: translate(-60%, -55%);
  }
  50% {
    transform: translate(-30%, -40%);
  }
  75% {
    transform: translate(-60%, -55%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.view-resume {
  position: relative;
}
.view-resume::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--Foreground-Color);
  top: 2.2vw;
  left: 50%;
  transform: translate(-50%, -0%);
  transition: all 0.3s ease-in-out;
}
.view-resume:hover::after {
  width: 100%;
}
.cv-image-box:hover .view-resume::after {
  width: 100%;
}
